{{#each foundMeetings}}
<div class="allmeetings">
    <h4>Name of the meeting:</h4>
    <p>{{this.name}}</p>
    <h4>Location</h4>
    <p>{{this.location}}</p>
    <h4>Date</h4>
    <p>{{this.date}}</p>
    <h4>Time</h4>
    <p>{{this.hour}}</p>
    <img src="https://image.shutterstock.com/image-vector/people-playing-games-dog-pets-260nw-1711634203.jpg"
        width="50rem" alt="meetingdog">
    <a href="/meeting/{{id}}">Enter</a>
</div>
{{/each}}

</div>
<form action="/allmeetings" method="get">
</form>