<div>

</div>

<div class="card" style="width: 24rem;">
    <img src="https://image.shutterstock.com/image-vector/people-playing-games-dog-pets-260nw-1711634203.jpg"
        class="card-img-top" alt="img">
    <div class="card-body">
        <h5 class="card-title">{{meeting.name}}</h5>
        <p class="card-text">
        <h3>Who created this meeting:</h3>
        <p>{{owner.name}}</p>
        <h3>Location:</h3>
        <p>{{meeting.location}}</p>
        <h3>Date:</h3>
        <p>{{meeting.date}}</p>
        <h3>Time</h3>
        <p>{{meeting.hour}}</p>
        <h3>Description</h3>
        <p>{{meeting.description}}</p>
        <h3>Users joined</h3>
        <ul>
            {{#each meeting.usersJoined}}
            <li>{{this.nickname}}</li>
            {{/each}}
        </ul>
        <a href="/meeting/{{meeting._id}}/join">Join this meeting</a>
        <a href="/allmeetings" class="btn btn-primary">Back</a>
    </div>
</div>
<img src="https://blupet.es/wp-content/uploads/2020/12/anuncios-de-comida-para-perros.png" width="100%" alt="">