<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#dog" aria-controls="dog"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <img src="https://cdn-icons-png.flaticon.com/128/5094/5094295.png" alt="" width="40px">
        </span>
    </button>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#meeting" aria-controls="meeting"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <img src="./assets/3153462.png" alt="" width="40px">
        </span>
    </button>
    <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#user" aria-controls="user"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
            <img src="./assets/3899618.png" alt="" width="40px">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="dog">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mydogs">My dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile-newdog">New dog</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="meeting">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/mymeetings">My meetings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile-newmeeting">New meeting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allmeetings">All meetings</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="user">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile/edit">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log-out">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<h4>My meetings:</h4>
<hr>
{{#each myMeetings}}
<div class="card-dog newbg bg-meeting ">
    <div class="container">
        <div class="newbg">
            <h4><b>{{this.name}}</b>
                <div class="meeting-tools">
                    <a href="/profile-mymeeting/{{id}}/edit">
                        <img src="./assets/644276.png" alt="" width="40px">
                    </a>
                    <a href="/profile-mymeeting/{{id}}/delete"><img src="./assets/484611.png" alt="" width="40px"></a>
                </div>
                <a href="/meeting/{{id}}">
                    <img src="https://cdn-icons-png.flaticon.com/128/2457/2457068.png" alt="" width="50px">
                </a>
        </div>
    </div>
</div>
<form action="/profile-mymeeting" method="get">
</form>
</div>

{{/each}}

<h4>Meetings you joined:</h4>
<hr>
{{#each joinedMeetings}}
<div class="card-dog newbg bg-meeting ">
    <div class="container">
        <div class="newbg">
            <h4><b>{{this.name}}</b>
                <div class="meeting-tools">
                    <a href="/profile-mymeeting/{{id}}/edit">
                        <img src="./assets/644276.png" alt="" width="40px">
                    </a>
                    <a href="/profile-mymeeting/{{id}}/delete"><img src="./assets/484611.png" alt="" width="40px"></a>
                </div>
                <a href="/meeting/{{id}}">
                    <img src="https://cdn-icons-png.flaticon.com/128/2457/2457068.png" alt="" width="50px">
                </a>
        </div>
    </div>

    <form action="/profile-mymeeting" method="get">
    </form>
</div>
{{/each}}
</div>