<main role="main" class="inner cover">
    <div class="text-center pt-3">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h2>My Meetings</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date</th>
                        <th scope="col">Hour</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each foundMeetings}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.location}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.hour}}</td>
                        <td>
                            <form action="/profile-mymeeting" method="get">
                                <a href="/profile-mymeeting/{{id}}/edit">Edit</a>
                                <a href="/profile-mymeeting/{{id}}/delete">Delete</a>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
        <footer>&copy; Copyright 2022 HTML.am</footer>
        </p>
    </div>
</footer>