<h2>Update the dog</h2>
<form action="/profile-mydog/{{id}}/edit" method="post">
  <h3>Name</h3>
  <input type="Name" name="Name" value="{{ this.name }}" />
  <h3>Sex</h3>
  <input type="Sex" name="Sex" value="{{ this.sex }}" />
  <h3>Race</h3>
  <input type="Race" name="Race" value="{{ this.race }}" />
  <h3>Size</h3>
  <input type="Size" name="Size" value="{{ this.size }}" />
  <h3>Age</h3>
  <input type="Age" name="Age" value="{{ this.age }}" />
  <button>Update</button>
</form>